@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
.App {
  font-family: sans-serif;
  text-align: center;
}
.tab-manager {
  display: flex;
  padding: 24px;
  justify-content: center;
}
.tab {
  font-family: Roboto, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: .875rem;
  line-height: 2.25rem;
  font-weight: 500;
  letter-spacing: .0892857143em;
  text-decoration: none;
  text-transform: uppercase;
  padding-right: 24px;
  padding-left: 24px;
  position: relative;
  display: flex;
  flex: 1 0 auto;
  justify-content: center;
  box-sizing: border-box;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  border: none;
  outline: none;
  background: none;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  -webkit-appearance: none;
  z-index: 1;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.tab:hover {
  background-color: #f5f0f9;
}

.selected-tab {
  background-color:#ecddf9;
  border: none;
  border-bottom: 2px solid #6200ee;
  color: #6200ee;
}
.selected-tab:hover{
  background-color:#ecddf9;
}

.tab-content {
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}
